html {
  box-sizing: border-box;
  background-color: #c9b5ab;
}

*, *::before, *::after {
  box-sizing: inherit;
}

h1 {
  font-family: 'PT Sans', sans-serif;
  color: #3f1622;
}

header li {
  list-style-type: none;
}

header a {
  color: #8f2440;
  font-family: 'PT Sans', sans-serif;
  font-size: 1.5rem;
}

img {
  width: 100%;
}

figcaption {
  font-family: 'PT Serif', serif;
  font-size: 0.8rem;
  font-style: italic;
  text-align: center;
}

main p:first-of-type {
  font-family: 'PT Serif', serif;
  font-weight: bold;
}

/*font-family: 'PT Sans', sans-serif;
font-family: 'PT Serif', serif;
